In [ ]:
"""
第二讲 数据的准备
获取 质量分析 预处理 
"""
#
#
#预处理 数据清洗 数据归约 数据集成 数据变换
"""
#数据清洗
缺失值/异常值 
均值插补 众数插补 中位数插补(离群值) 固定值 最邻近插补(时序特点) 回归方法(找寻与其他变量的关系) 插值法（线性，多项式）

#数据集成
内接 行交列并
外接 行列均并

#数据规约
属性选择
样本选择

#数据变换
1)数据标准化
0-1标准化 Z-score标准化
2)变量离散化[回归问题→分类问题]
3)语义转换[男女→10]
"""

In [ ]:
!pip list #查看已安装库

In [ ]:
"""
sklearn查看数据集
"""

In [ ]:
from sklearn.datasets import load_iris#导入iris数据集
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Binarizer
from numpy import vstack, array, nan
from sklearn.impute import KNNImputer
imp=KNNImputer()
iris = load_iris()
bi_data=Binarizer(threshold=3).fit_transform(iris.data)
std_data=MinMaxScaler().fit_transform(iris.data)
#print(iris.data,type(iris.data))#查看特征矩阵 花瓣和花萼长宽
print(bi_data)#二值化后的矩阵
#print(std_data)#标准化后的矩阵
#print(iris.target)#查看目标向量 类别语义转换位类型 
temp = vstack((bi_data, array([nan, nan, nan, nan])))
print(temp)
imp.fit_transform(temp)

In [ ]:
"""
pandas查看数据集
"""

In [ ]:
import pandas
import seaborn
import matplotlib.pyplot as plt
users=pandas.read_csv("train_users.csv")

In [ ]:
users.head(4)

In [ ]:
users.tail()

In [ ]:
users.describe()

In [ ]:
users.shape

In [ ]:
users.loc[0:3,'age'] #.loc[:]是左闭右闭

In [ ]:
users['id']

In [ ]:
users['age']

In [ ]:
"""
缺失值处理 删除/填补
"""

In [ ]:
df=users['age'].dropna().reset_index(drop=True)#删除缺失数据
print(df.head(10))

In [ ]:
df1=users['age'].fillna(users['age'].mean())#用均值填补
print(df1.head(10))

In [ ]:
df2=users['age'].fillna(users['age'].median()) #用中位数填补
print(df2.head(10))

In [ ]:
def Plt(Df):
    Df=Df[((Df<90)&(Df>10))]
    seaborn.boxplot(Df)
    plt.savefig('out%d.jpg'%(a),dpi=1000) 
    plt.show()
    return
Plt(df)
Plt(df1)
Plt(df2)

In [ ]:
# 内连接
import pandas as pd
df1=pd.DataFrame({'id':[1,2,3],
                'col1':['a','b','c']})
df2=pd.DataFrame({'id':[4,3],
                 'col2':['d','e'],
                 'col3':['e','d']})
df3=pd.DataFrame({'id':[4,3],
                  'col4':['g','h'],
                  'col3':['d','f']})
print(df1)   #直接输入df1也可以，三个表要分开输出
print('-------------------')
print(df2)
print('-------------------')
print(df3)

   id col1
0   1    a
1   2    b
2   3    c
-------------------
   id col2 col3
0   4    d    e
1   3    e    d
-------------------
   id col4 col3
0   4    g    d
1   3    h    f

In [42]:
df1.merge(df2,how='inner',on='id') #内连接

   id col1 col2 col3
0   3    c    e    d

In [47]:
df1.merge(df2,how='left',on='id') #左连接

   id col1 col2 col3
0   1    a  NaN  NaN
1   2    b  NaN  NaN
2   3    c    e    d

In [45]:
df1.merge(df2,how='right',on='id')

   id col1 col2 col3
0   4  NaN    d    e
1   3    c    e    d

In [48]:
df1.merge(df2,how='outer',on='id')

   id col1 col2 col3
0   1    a  NaN  NaN
1   2    b  NaN  NaN
2   3    c    e    d
3   4  NaN    d    e

In [49]:
"""
横向合并
"""
import pandas as pd 
df1=pd.DataFrame({'id1':[1,2,3],
                  'col1':['a','b','c']},
                 index=[1,2,3]
                 )
df2=pd.DataFrame({'id2':[1,3,2],
                  'col2':['aa','bb','cc']},
                 index=[1,3,2]
                 )
print(df1)
print('------------')
print(df2)
# df1的索引为 1，2，3， df2的索引为 1，3，2，索引行会一一对应
# axis=1，横向连接（增加/减少列【列操作】）
# axis=0，纵向连接（增加/减少行【行操作】）

print(pd.concat([df1,df2],axis=1))
print('---------------------')
print(df1.join(df2))

   id1 col1
1    1    a
2    2    b
3    3    c
------------
   id2 col2
1    1   aa
3    3   bb
2    2   cc
   id1 col1  id2 col2
1    1    a    1   aa
2    2    b    2   cc
3    3    c    3   bb
---------------------
   id1 col1  id2 col2
1    1    a    1   aa
2    2    b    2   cc
3    3    c    3   bb

In [57]:
"""
纵向合并
"""
df1=pd.DataFrame({'id':[1,1,1,2,3,4,6],
                'col':['a','a','b','c','v','e','q']})
df2=pd.DataFrame({'id':[1,2,3,3,5],
                'col':['x','y','z','v','w']})
print(df1)
print('---------')
print(df2)
# ignore_index=True，表示忽略 dfl 与df2的原先的行索引，合并并重新排列索引，axis=0，表示纵向合并，是行操作。
pd.concat([df1,df2],ignore_index=True,axis=0)
df4=pd.concat([df1,df2],ignore_index=True).drop_duplicates().reset_index(drop=True)
df4

   id col
0   1   a
1   1   a
2   1   b
3   2   c
4   3   v
5   4   e
6   6   q
---------
   id col
0   1   x
1   2   y
2   3   z
3   3   v
4   5   w

   id col
0   1   a
1   1   b
2   2   c
3   3   v
4   4   e
5   6   q
6   1   x
7   2   y
8   3   z
9   5   w